#footer-container {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

footer {
  height: 100%;
}

.footer-item {
  flex: 0 1 auto;
  align-self: auto;
  padding: 0 20px;
}
div#footer-learn a {
  text-decoration: none;
  color: inherit;
}

div#footer-learn a:hover {
  text-decoration: underline;
}
