div#graph-location {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50;
}
div#graph-container {
  width: 100%;
  height: 100%;
}
div#graph-menu {
  height: 40px;
}
div#graph-menu-container {
}

div#graph-menu-subcontainer-1 {
  width: 50%;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

div#graph-menu-subcontainer-1 mat-select {
  max-width: 200px;
}

div#graph-menu-subcontainer-2 {
  width: 50%;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

div#graph-location-container {
  flex: 1;
}

